/* General */
html, body{
    background-color: #003A70;
}

nav{
    background-color: #222831;
}

/* Header */
.jumbotron{
    background-color: #222831;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-item{
    padding: 16px;
}

/* Landing Page Search */
.main-search input{
    position: relative;
    top: 10vh;
}

.main-search input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid yellow;
    box-shadow: 0 1px 0 0 yellow;
    color: white;
}

.main-search input, .main-search ::placeholder{
    color: white;
}

/* Pikachu Image */
.img-pikachu{
    height: 75px;
    width: 75px;
}

@media (min-width: 768px) {
    .img-pikachu{
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 992px) {
    .img-pikachu{
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .img-pikachu{
        height: 200px;
        width: 200px;
    }
}

/* Log In Form */
.auth-container{
    position: relative;
    top: 10vh;
    text-align: center;
}

.bullbasaur-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.heart-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-login{
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}

.btn-login{
    margin-top: 16px !important;
}

.form-login .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-login .form-control:focus{
    z-index: 2;
}

.form-login input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-login input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Footer */
#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    padding: 8px 0 8px;
    background-color:#26272b;
    color:#737373;
    text-align:center;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -2.5rem;
}
footer a {
    color:#737373;
}
footer a:hover {
    color:#3366cc;
    text-decoration:none;
}
